*{
    
    margin:0;
    padding: 0;

    
}

#titleSpan{
    
    font-size: 40px;
    padding-left: 2%;
    
}


header{
    
    background-color: lightgray;;
    overflow: hidden;
    height: 75px;
    display: block;
    position: sticky;
    top: 0;
}
.headerLeft{
    width: 50%;
    border: 1px;
    float: left;
    box-sizing: border-box;
    height: 10%;
    
}

.headerRight{
    
    float: right;
        border: 1px;
    text-align: right;
    width: 50%;
    box-sizing: border-box;
    height: 10%;

}

.headerRight ul li{
    
    display: inline;

}

.headerRight ul{
    
    padding-right: 2%;

}
body{
    
    display: block;
    height: 100%;
    border: 1px red solid;
    
}
.container{
    width: 60%;
    overflow: hidden;
    background-color: red;
    height: 100%;
    margin: 0 auto;
    border-left: 1px black solid;
    border-right: 1px black solid;
    
    height:  100%;
    
}

footer{
    display: block;
    background-color: lightgray;
    position: sticky;
    bottom: 0;
    height: 45px;
    width: 100%;
    
}

