*{
    
    margin:0px;
    padding: 0px;
    

    
}



a{
    
    color: teal;
}

#titleSpan{
    
    font-size: 40px;
    padding-left: 2%;
    
}


header{
    
    background-color: lightgray;;
    overflow: hidden;
    height: auto;
    display: block;
    position: sticky;
    top: 0;
    padding-top: 1em;
}
.headerLeft{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0px;
   
  
    
}

.headerRight{
    
    float: right;
    text-align: right;
    width: 50%;
    box-sizing: border-box;
    padding: 0px;
    
  
  

}

.contLeft{
    width: 66%;
    float: left;
    box-sizing: border-box;
    padding: 0px;
    display: block;
      overflow-wrap: break-word;

   
  
    
}

.containerRight{
    
    float: right;

    width: 20%;
    box-sizing: border-box;
    padding: 0px;
        display: block;
     overflow-wrap: break-word;


  
  

}

.containerRight ul{
    
    float: right;
      overflow-wrap: break-word;


  

}

.headerRight ul li{

    display: inline;

}

.headerRight ul{
    
    padding-right: 2%;

}
body{
    
    display: block;
    height: 100%;
  
    background-color: darkgrey;;
    
}
.container{
    width: 60%;
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    
    height:  100%;
    padding-left: 5%;
     padding-right: 5%;
    padding-top: 3%;
     padding-bottom: 3%;
}

footer{
    display: block;
    background-color: lightgray;
    position: sticky;
    bottom: 0;
    height: auto;
    width: 100%;
    
}

.bold{
    
    font-weight: bold;
}

.blogPosts{
    
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    padding: 1em;
    
}
.contLeft{
    padding: 2em;
}
.blogPosts ul{
    
    padding-left: 1.3em;
}

p, ul{
    font-family: sans-serif;
    line-height: 1.45;
    padding-top: .25em;
    padding-bottom: 1em;
}

.contLeft li {
    padding-bottom: .75em;

}
.containerRight li {
    padding-bottom: 1em;

}
.blogPosts h3{
    width: 100%;
    border: 4px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    font-family: serif;
    padding-top: .25em;
    padding-bottom: .25em;
    margin-bottom: .75em;
}

.containerRight{
    
     padding-top: 2em;
}

.containerRight ul{
    padding: 0;
    width: 100%;
    margin-top: 1em;
    float:left;
    list-style: none;

}

.targetPixel
{
    height:3em;
    width: 1px;
    background-color: white;
    display: block;
}